{% extends "layout.html" %}

{% block title %}
About page
{% endblock %}

{% block content %}
    <div class="container">
        <section class="about">
            <h1>About Us</h1>
            <p>
                Chai Aur Django is a simple project to learn web development
                with clean design and powerful backend.
            </p>

            <div class="about-box">
                <h3>Our Mission</h3>
                <p>Make learning Django fun and practical.</p>
            </div>
        </section>
    </div>
{% endblock %}
</body>