{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chai Aur Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <nav>
        <h2>☕ ChaiAurDjango</h2>
        <div>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
    </nav>

    <div class="container">
        <section class="contact">
            <h1>Contact Us</h1>

            <form>
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <textarea placeholder="Your Message"></textarea>
                <button type="submit">Send Message</button>
            </form>
        </section>
    </div>

    <footer>
        <p>Made with ❤️ by Pranav</p>
    </footer>

</body>

</html>