{% extends "layout.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<div class="container bg-orange-500">
    <section class="hero">
        <h1>Welcome to Chai Aur Django ☕</h1>
        <p>Build powerful web apps with style and simplicity.</p>
        <button>Get Started</button>
    </section>

    <section class="cards">
        <div class="card">
            <h3>Fast Development</h3>
            <p>Django helps you build apps quickly.</p>
        </div>
        <div class="card">
            <h3>Secure</h3>
            <p>Built-in security features to protect your app.</p>
        </div>
        <div class="card">
            <h3>Scalable</h3>
            <p>Grow from small project to large systems.</p>
        </div>
    </section>
   </div>
{% endblock %}k

</body>
