{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default value
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css%}
</head>
<body>
    <nav>
        <h2>☕ ChaiAurDjango</h2>
        <div>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
    </nav>
    {% block content %}
    content
    {% endblock %}

    <footer>
        <p>Made with ❤️ by Pranav</p>
    </footer>
</body>
</html>